html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#term {
    background: #333333;
    color: #dcdccc;
    position:absolute;
    font-family: "Courier New", Courier, monospace;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 25px;
}
